<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple MVC Example</title>
</head>
<body>
  <div
    style="display: flex; flex-direction: row;"
  >
    <img
      src="../../img/cookie.webp" alt="Yummy Cookie"
      style="cursor: pointer"
      onclick="controller.click()"
    />
    <div>
      <h2 id="counter">Clicks: 0</h2>
      <button
        onclick="controller.reset()"
      >
        Reset
      </button>
    </div>

  </div>

<script src="../../js/controllers/CookieController.js"></script>
<script src="../../js/models/CookieModel.js"></script>
<script type="text/javascript">
  const controller = new CookieController(new CookieModel());
</script>
</body>
</html>
